We're going to have a housewarming/birthday party to celebrate, and you're
invited! We're going to be having an afternoon barbeque, so bring along
something to eat and drink.
<p>
  Location:
  <a href="https://goo.gl/maps/Xj1ypzEtUhH4CYVeA" target="_blank"
    >13-14 Johnson St, Reservoir</a
  >
</p>

<p>
  Date and Time: <a href="calendar/event.ics">1pm, 2nd April</a>. Feel free to
  rock up early or late. If you'd like to drive and stay the night you're more than welcome to.
</p>

<p>
  <a href="https://forms.gle/kWHEgnF9BtzweoEW9" target="_blank">RSVP Here</a>
</p>
